<html>
<head>
<title>Home!</title>
<link rel="stylesheet" th:href="@{/style.css}"></link>
</head>
<html>
<div class="homePage">
	<span class="welcome">Home Page</span><br /> <img
		th:src="@{/MissingPage.png}"></img>
	<h1>
		Welcome to the Event Processor App. </ h1>

		<h2>API Links</h2>
		
		<p><a href="/">Welcome Event Processor Home Page</a></p>
		<p><a href="/home">Welcome Event Processor Home Page</a></p>
		<p><a href="/stats">Visit Event Processor Stats page</a></p>
		
</div>
</html>

</html>
